*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.partation{
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
}

.list .item .col{
    flex: 1;
    margin: 0 20px;
}
.list .item .desc{

    margin: 10px 0;
    color: gray;
}